<ion-header>
    <ion-toolbar>
      <ion-title>Pelicula</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


    <ion-content> 
      <ion-item>
        <ion-label>Titulo</ion-label>
        <ion-input [(ngModel)]="document.data.titulo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-input [(ngModel)]="document.data.descripcion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Imagen</ion-label>
        <ion-input [(ngModel)]="document.data.imagen"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Año</ion-label>
        <ion-input [(ngModel)]="document.data.anno"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Director</ion-label>
        <ion-input [(ngModel)]="document.data.director"></ion-input>
      </ion-item>
      
      
      <ion-button (click)="clicBotonModificar()" id="modificar">Modificar Pelicula</ion-button>
      <ion-button (click)="clicAlertBorrar()" id="borrar">Borrar Pelicula</ion-button>
      <ion-img  [src]="document.data.imagen"></ion-img>
  </ion-content>

  <ion-footer>
      <ion-toolbar align="center">
        <ion-button (click)="volver()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
        <ion-button (click)="inicio()"><ion-icon name="home"></ion-icon></ion-button>
        <ion-button (click)="configurar()"><ion-icon name="build"></ion-icon></ion-button>
        <ion-button (click)="mapa()"><ion-icon name="map"></ion-icon></ion-button>
      </ion-toolbar>
    </ion-footer>
    