<ion-header>
    <ion-toolbar>
      <ion-title>Pelicula</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


    <ion-content> 
      <ion-item>
        <ion-label>Titulo</ion-label>
        <ion-input [(ngModel)]="document.data.titulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-input [(ngModel)]="document.data.descripcion"></ion-input>
      </ion-item>

      <ion-button (click)="clicBotonModificar()" id="modificar">Modificar Pelicula</ion-button>
      <ion-button (click)="clicAlertBorrar()" id="borrar">Borrar Pelicula</ion-button>

  </ion-content>

