ion-header {
    --ion-background-color: #f57c00;
};

ion-item {
    --ion-background-color: #f1f1f1;
}

ion-fab-button {
    --background: #f57c00;
    --background-hover: #bb4d00;
}

ion-button {
    --background: #ffad42;
    --background-hover: #f57c00;
}

ion-img {
    width: 150px;
    height: 150px;
}
#btnMenu {
    --background: #f57c00;
    --box-shadow: none;
    width: 50px;
    height: 50px;
}