<ion-header>
  <ion-toolbar>
    <ion-title>
      Películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="ion-padding">
      <ion-button color="primary" expand="full" (click)="navigateToEditar()">
        editar</ion-button>
    </div>
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input [(ngModel)]="peliculaEditando.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="peliculaEditando.descripcion"></ion-input>
  </ion-item>
  <ion-button (click)="clicBotonInsertar()">Añadir Pelicula</ion-button>
  <ion-button (click)="clicBotonBorrar()">Borrar Pelicula</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar Pelicula</ion-button> -->
  <ion-list>
    <ion-item *ngFor="let documentPelicula of arrayColeccionPeliculas" (click)="selecPelicula(documentPelicula)" (click)="navigateToEditar()">
      <ion-grid>
        <ion-row>
          <h2>{{documentPelicula.data.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentPelicula.data.descripcion}}</p>
        </ion-row>
        <ion-row>
          <p>{{documentPelicula.data.imagen}}</p>
        </ion-row>
        <ion-row>
          <p>{{documentPelicula.data.anno}}</p>
        </ion-row>
        
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="nuevo" (click)="clicNuevo()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar align="center">
    <ion-button (click)="inicio()"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button (click)="configurar()"><ion-icon name="build"></ion-icon></ion-button>
    <ion-button (click)="mapa()"><ion-icon name="map"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>

